{% extends "base.html.twig" %}

{% block title %}
        BackOffice || ModificAtion de l'Article
{% endblock %}

{% block body %}
       
        <h1 class="display-4 text-center my-5"> Modification de l'article<span class="text-info">{{ idArticle }}</span></h1>

        
    
        {{ form_start(formArticle, {'attr' : {'class': 'col-md-5 mx-auto'} }) }}
            
            {{ form_row(formArticle.title, {'label' : "Titre de l'article"}) }}

            {{ form_row(formArticle.category, {'label' : "Catégorie de l'article"}) }}

            {{ form_row(formArticle.content, {'label' : "Contenu de l'article", 'attr' : {'rows' : 15}}) }}

            {{ form_row(formArticle.image) }}

            <button class="btn btn-warning">Modifier l'article</button>

        {{ form_end(formArticle) }}

{% endblock %}