{% extends "base.html.twig" %}

{# On hérite du gabarit de base (header, footer, etc...) #}
{% block title %}
    Détail de l'Articles
{% endblock %}

{# On intègre le contenu du template dans le block 'body' de base.html.twig#}
{% block body %}


      
        <h1 class=" display-4 text-center my-4"> {{articleTwig.title}}</h1>

        {# app : variable Twig qui contient toute les informations stokées en session #}
        {# flashes() : méthode permettant d'accéder aux messages utilisateur stockéq en session#}
        {# il peut y avoir plusieurs messages stockés donc nous sommes obligé de boucler#}
        {% for message in app.flashes('success')%}

            <div class="col-md-5 bg-success p-4 rounded mx-auto text-center text-white mb-3">
                    {{ message }}
            </div>

        {% endfor %}
        <div class="row">   
                <div class="col-md-8 mx-auto">
                    <div class="card mb-4 shadow-sm">
                      <img src="{{ articleTwig.image|replace({'600/400' : '1000/300'}) }}" alt="{{articleTwig.title}}">

                        <div class="card-body">
                        {# raw : filtre Twig qui masque les blaise html provenant de la  BDD #}
                            <p class="card-text">{{articleTwig.content|raw }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                               <div class="btn-group"> {#
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>#}
                            </div>
                            <small class="text-muted">Posté le {{articleTwig.createdAt|date('d/m/Y') }} à {{articleTwig.createdAt|date('H:i:s')}} dans la catégorie <strong>{{articleTwig.category.title }}</strong></small>
                        </div>
                    </div>
                    <h4 class="col-md-8 py-2"> Donnez votre avis : </h4>

                    {# On affiche le formulaire d'ajout de commentaires envoyé par BlogController--> show() --> render() #}
                    {{ form_start(formComment ) }}
                   
                    {{ form_row(formComment.author, {'label' : "Nom d'utilisateur"}) }}

                     {{ form_row(formComment.content, {'label' : "Saisir votre commentaire"})}}

                     <button type="submit" class="btn btn-warning"> Postez votre commentaire</button>
                    
                    {{ form_end(formComment) }}

                    <h4 class="col-md-8 py-2">Vos réactions : </h4>

                    <div class="row">
                            {# artigle.Twig.comment : retourne tout les commentaires associés à l'article (relation bi-dimentionnelle / relation entre les tables) #}
                            {# plusieurs commentaires sont associés à l'article, donc nous sommes obligé de boucler FOR #}
                            {# comments variable de reception qui receptionne 1 commentaire de l'article par tour de boucle FOR #}
                        {% for comment in articleTwig.comments %}

                                    {# {{ dump(comment)}} #}
                            <div class="col-md-4">
                                    <span><strong> {{ comment.author }}</strong></span>
                                    <small class="font-italic">
                                        Posté le {{ comment.createdAt|date('d/m/Y') }} à {{ comment.createdAt|date('H:i:s') }}
                                    </small>
                            
                            </div>     


                            <div class="col-md-8 py-2">
                                {{ comment.content|striptags }}

                            </div><hr class="col-md-10">    

                        {% endfor %}


                    </div>

            </div>
          
        </div>

{% endblock %}